@import url('https://fonts.googleapis.com/css2?family=Charm&family=Fraunces:ital@1&family=Montserrat&family=Roboto&family=Roboto+Serif&display=swap');
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.navbar {
    margin: 0px 2rem 0px;
}
body {
    margin: 0px;
    background-color: #F6F9FC;
}
.input-login {
    margin: 0.5rem 0rem;
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
